<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="actas.css">
    <script src="actas.js"></script>
    <title>Mesa x</title>
</head>

<body onload="ocultar()">
    <span class="time">
        <p>Hora: </p>
        <div id="current_date">
            <script>
                document.getElementById("current_date").innerHTML = Date();
            </script>
        </div>
    </span>
    <nav class="navbar topNav">
        <div class="container">
            <div class="navbar-brand">

                <div>
                    <span><a href="index.html"><img src="img/frente.png" alt="logo Frente Renovador" width="120"
                                height="120"></a> </span>
                    <p><b>Frente Renovador</b></p>
                    <img src="" alt="" />
                </div>

            </div>
            <h1>Registrar acta de escrutinio</h1>
            <br>
            <hr>
            <div class="navbar-end">
                <p>Cerrar sesión</p>
            </div>
        </div>
    </nav>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="C:\Users\Star\Documents\ComputoCC/escuelas.html">Escuelas</a>
                    <a class="navbar-item" href="C:\Users\Star\Documents\ComputoCC/mesas.html">Control de mesas</a>
                    <a class="navbar-item" href="C:\Users\Star\Documents\ComputoCC/actas.html">Actas</a>
                    <a class="navbar-item" href="C:\Users\Star\Documents\ComputoCC/resultados.html">Resultados</a>
                </div>

            </div>
        </div>
    </nav>

    <div class="window-notice" id="window-notice">
        <div class="content">
            <div class="content-text">Para evitar errores, deberá <b>confirmar</b> la mesa seleccionada.
<p class="p-confirm" id="p-confirm"></p>
                <div class="content-buttons">
                    <button class="close_window" id="close-button" onclick="continuar()" ;> Continuar</button>
                    <button id="btn-confir" onclick="confirmar()">Confirmar</button>
                    <button class="btn-regresar" onclick="regresar()">Regresar</button>
                </div>
            </div>

        </div>
    </div>
    <!--<div><button id="btn-confir" onclick="cargarMesa()" ;> Cargar</button></div-->

    <section class="container">
        <article class="post">
            <h4> </h4>
        </article>
        <div class="columns">
            <div class="column is-14">
                <div class="box content">
                    
                    <div class="form-group">
                        <div class="cont-regresar">
                            <div class="escudo">
                                <img src="img/escudo.jpg" width="50" height="150" alt="">
                            </div>
                            <h3>Elecciones Presidenciales - 22 de octubre de 2023</h3>
                            <button class="btn-regresar" onclick="regresar()">Volver a Escuela</button>
                        </div>
                        
                        <div class="cont-encab">
                            <h4> Distrito Corrientes</h4>
                            <div>
                                <label class="mesa" for="mesa">Mesa N° </label>
                                <label class="lbl-mesa" for="mesa" id="numMesa">  </label>
                                <!-- 
                                <p id="numMesa">fre</p>
                                <select name="mesa">
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                </select><br>-->
                            </div>
                        </div>
                        <article class="post">
                            <p></p>
                            <div class="form-group">
                                <form action="send">

                                    <div>
                                        <label for="seccion">Sección: </label>
                                        <input type="text" name="seccion">
                                        <label for="circuito">Circuito</label>
                                        <input type="text" name="circuito">
                                    </div>

                            </div>
                            <table border="2px" bordercolor="2D9ADE">
                                <tr>
                                    <th>Lista</th>
                                    <th>Agrupacion</th>
                                    <th>Orden</th>
                                    <th>Cargo</th>
                                    <th>Cargo</th>
                                    <th>Cargo</th>
                                    <th>Cargo</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Partido</td>
                                    <td>1</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                    <td>1</td>
                                    <td>Partido</td>
                                    <td>2</td>
                                    <td><input type="text" name="2a"><br></td>
                                    <td><input type="text" name="2b"><br></td>
                                    <td><input type="text" name="2c"><br></td>
                                    <td><input type="text" name="2d"><br></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Partido</td>
                                    <td>3</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Partido</td>
                                    <td>4</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>5</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>6</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>7</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>8</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>9</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>10</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>11</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>12</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>13</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>14</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>15</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>16</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Partido</td>
                                    <td>17</td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                </tr>
                                </tr>
                                <br>
                            </table>

                            <table border="2px" bordercolor="2D9ADE">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Votos nulos</td>
                                    <td></td>

                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Votos recurridos</td>

                                    <td></td>
                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Votos de identidad impugnada</td>
                                    <td></td>

                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Votos del Comando electoral</td>
                                    <td></td>

                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Votos en blanco</td>
                                    <td></td>

                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>TOTAL DE VOTOS</td>
                                    <td></td>

                                    <td><input type="text" name="1a"><br></td>
                                    <td><input type="text" name="1b"><br></td>
                                    <td><input type="text" name="1c"><br></td>
                                    <td><input type="text" name="1d"><br></td>
                                <tr>
                            </table>
                            <div class="cont-btn">
                                <button type="submit">Enviar</button>
                                <button onclick="clicked();">Reiniciar</button>
                            </div>
                            </form>
                            <div class="cont-regresar">
                                <button class="btn-regresar" onclick="regresar()">Volver a Escuela</button>
                            </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function clicked() {
            if (confirm('IMPORTANTE\n\nSe borrarán todos los datos cargados.\n\n')) {
                yourformelement.reset();
            } else {
                return false;
            }
        }
    </script>
</body>

</html>