<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/readJson.js"></script>
    <title>Resultados</title>
</head>
<body>
    <input type="button" value="Buscar" id="buscar"><br>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>PAIS</th>
        <th>EDAD</th>
        <th>OCUPACIÓN</th>
      </tr>
    </thead>
    <tbody id="contenido">
    </tbody>
  </table>

  
    <section class="sctMesas" id="sctMesas">
        <!--grilla-->
    </section>
    <div class="cont-btn">
    <button class="btnAnt" disabled>Anterior </button>
    <a href="#top"><button>Ir arriba</button></a>
    <button class="btnSig" disabled>Siguiente </button>
</div>
</body>
</html>