<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/icono.png" type="image/x-icon">
    <script src="/scripts/index.js"></script>
    <title>Cómputos Curuzu</title>
   
    <!-- Bulma Version 0.9.0-->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/head.css">
    <link rel="stylesheet" href="/styles/escuela.css">
</head>

<body>
    <span class="time">
        <p>Hora: </p>
        <div id="current_date">
            <script>
                document.getElementById("current_date").innerHTML = Date();
            </script>
        </div>
    </span>
    <nav class="navbar-topNav">
        <div class="cont-title">
            <div class="navbar-brand">

                <div>
                    <span><a href="../index.html"><img src="/assets/img/frente.png" alt="logo Frente Renovador" width="120"
                                height="120"></span>
                    <p><b>Frente Renovador</b></p></a> 

                </div>
            
            <h1>Cómputos Curuzú Cuatiá</h1>
            
            <span class="navbarEnd">Cerrar sesión</span>
           </div>
            
        </div>
    </nav>
   
        
    
    <nav class="navbar">
        <div class="cont-menu">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/views/escuelas.html" >Escuelas </a>
                    <a class="navbar-item" href="/views/mesas.html">Control de mesas</a>
                    <a class="navbar-item" href="" >Registro</a>
                    <a class="navbar-item" href="/views/resultados.html">Resultados</a>
                </div>

            </div>
        </div>
    </nav>
    <section class="sct-body">

        <div class="columns">
            <div class="column is-4">
                <div class="box content">

                    <div class="form-group">
                        <h3>Circuito 17</h3>
                    </div>
                    <article class="post">
                        <p></p>
                        <div class="form-group">
                            <ol>
                                <a link href="/views/oficial.html" target="ifr-escuela"> Oficial</a></li>
                                
                                <li><a link href="/views/tecnica/tecnica.html" target="ifr-escuela" > N° 1 - Técnica</a></li>
                                <li><a link href="/views/belgrano/belgrano.html" target="ifr-escuela"> N° 32 - Belgrano</a></li>
                                <li><a link href="/views/centenario/centenario.html" target="ifr-escuela"> N° 471 - Centenario</a></li>
                                <li><a link href="/views/sarmiento/sarmiento.html" target="ifr-escuela"> N° 564 - Sarmiento</a></li>
                                <li><a link href="/views/rosende/rosende.html" target="ifr-escuela"> N° xxx Rosende</a></li>
                                <li><a link href="/views/nacional/nacional.html" target="ifr-escuela"> Col. Nacional</a></li>
                                <li><a link href="/views/sanmartin/sanmartin.html" target="ifr-escuela"> Col. San Martín</a></li>
                                <li><a link href="/views/sorribes/sorribes.html" target="ifr-escuela"> Col. Barnidio Sorribes</a></li>
                            </ol>
                        </div>
                        <h3>Circuito 18</h3>
                        <div class="form-group">
                            <ol start="9">
                                <li><a link href="/views/perugo1/perugo1.html" target="ifr-escuela"> N° 38 - José María Paz (Per.)</a></li>
                                <li><a link href="/views/perugo2/perugo2.html" target="ifr-escuela"> N° 410 - Pcia. de Santa Cruz (Per.)</a></li>
                                <li><a link href="/views/alberdi/alberdi.html" target="ifr-escuela"> N° 565 - Alberdi</a></li>
                                <li> <a link href="/views/cazadores/cazadores.html" target="ifr-escuela"> N° 572 - Est. Cazadores Correntinos</a></li>
                                <li> <a link href="/views/paraiso/paraiso.html" target="ifr-escuela"> N° 575 - Pje. Paraíso</a></li>
                                <li> <a link href="/views/baibiene/baibiene.html" target="ifr-escuela"> N° 585 - Pje. Baibiene</a></li>
                    </article>
                </div>
            </div>
            <div class="cont-mesas">
                <h2><b> Seleccione la Escuela a cargar: </b></h2>
                <!--El iframe deberia estar hidden, solo ser visible al hacer clic en una Escuela y cargar la correspondiente-->
                <iframe class="ifr-escuela" name="ifr-escuela" src=""></iframe>
            </div>
        </div>

    </section>

    <footer>
        <div class="container">
            <div class="col-12 color10 text-center">
                <h3 style="text-align:center"><strong>Gisela Yiyi S&aacute;nchez | Todos los derechos reservados</strong></h3>
                    <h3 style="text-align:center">3774-455436</h3>
            </div>
        </div>
    </footer>
</body>

</html>