<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/generales.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.cssc">
  <style data-styled="active" data-styled-version="5.3.11"></style>
    <title>generales</title>
</head>

<body>
    <div class="dv-estadisticas">
    <div class="tabll">
        <p><img src='../assets/img/blanco.png' class='i'><b>Blancos:</b><span class="por-bla"> 2</span>&nbsp;%</p>
        <p><img src='../assets/img/anulados.png' class='i'><b>Anulados:</b><span class="por-anu"> 0,3</span>&nbsp;%</p>
        <p><img src='../assets/img/participacion.png' class='i'> <b>&nbsp;Participación:</b><span class="por-anu"> 89,7</span>&nbsp;%</p>
        <!--table width='100%'>
        <tr>
            
            <td class='aj'><img src='../assets/img/blanco.png' class='i'></td>
            <td class='aj'><b>Blancos:</b><span class="por-bla"> 8</span>&nbsp;%</td>
            <td class='aj'><img src='../assets/img/anulados.png' class='i'></td>
            <td class='aj'><b>Anulados:</b><span class="por-anu"> 1,2</span>&nbsp;%</td>
            <td class='aj'><img src='../assets/img/participacion.png' class='i'></td>
            <td class='aj'><b>&nbsp;Participación:</b><span class="por-anu"> 69,6</span>&nbsp;%</td>
        </tr>
    </table--></div><br>
<hr><div>
    <table width='100%'>
        <tr>
            <td colspan="3"> </td><td colspan="3" class='ak'><b>Votos:</b>&nbsp;<small>76</small> | <b>Escrutado:</b>&nbsp; <small>7,4%</small> |
                <b>Actualizado:</b>&nbsp;<small>04/10/2023 8:27:40</small> <img src="../assets/img/frente.png" alt="frente" width="30"></td>
        </tr>
    </table>
</div></div>
    <div class="dv-main">
        <section class="sct-candi" name="agrupaciones">
            <div class="dv-datos">
              <div class="flex-1">
                <ul class="p-4 md:p-0  ">
                    <li> 
                    <div class="dv-partido"> 
                      <div class="dv-candi">
                        <img class="h-12-w-12 "src="../assets/logos/000135.png" alt="logo_agrupacion">
                        <p class="font-normal text-sm text-black ml-4">LA LIBERTAD AVANZA</p>
                      </div>
                      <div class="dv-candi">
                        <div>
                          <p class="text-sm font-bold text-left"><span id="votos-porc">20,04</span>%</p>                          
                          <p class="text-xs md:text-sm"><span id="votos-part"></span> votos</p>
                        </div>
                        <button class="text-lg font-bold rounded-full mr-4">
                            <img class="img-plus" src="../assets/img/hide.png" alt="plus-circle">
                        </button>
                      </div>
                    </div>
                    <div  class="cont-candidato">
                        <!--classname=" pt-[1rem] pb-[1rem]"-->
                      <div class="dv-datos-candi">
                        <div class="cont-datos" style="display: flex; margin-top: 0.5rem; opacity: 1;">
                          <div class="dv-foto-name">
                            <div class="flex-row items-center flex mb-1">
                                <img class="img-candi" src="../assets/logos/foto01003016.png" alt="logo_lista">
                            </div>
                            <div class="flex flex-row gap-3 ml-5">
                              <div class="flex flex-row">
                                <p class="prf-name">JAVIER GERARDO MILEI - </p>      
                                <p class="prf-name">VICTORIA VILLARRUEL </p>                        
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="w-full bg-gray-100 print:h-2 mb-[0.25rem] h-5">
                          <div class="cont-barra">
                            <div class="dv-barra"></div>
                          </div>
                        </div>
                        <div class="flex flex-row justify-between mb-[0.5rem]">
                          <div
                            class="flex flex-col md:flex-row md:items-center md:gap-3 text-right min-w-[25%] md:justify-end justify-around">
                            <p class="text-xs md:text-sm font-bold text-[#174F64]"><span>7.116.352</span> votos</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!--segundo-->
                  <li>
                    <div class="dv-partido">
                      <div class="dv-candi">
                        <img class="h-12-w-12 " src="../assets/logos/000132.png" alt="logo_agrupacion">
                        <p class="font-normal text-sm text-black ml-4">JUNTOS POR EL CAMBIO</p>
                      </div>
                      <div class="dv-candi">
                        <div>
                          <p class="text-sm font-bold text-left"><span id="votos-porc">28,27</span>%</p>
                          <p class="text-xs md:text-sm"><span>6.698.029</span id="votos-part"> votos</p>
                        </div>
                        <button class="text-lg font-bold rounded-full mr-4">
                            <img class="img-plus" src="../assets/img/hide.png" alt="plus-circle">
                        </button>
                      </div>
                    </div>
                    <div class="cont-candidato">
                      <div classname="dv-datos-candi">
                        <div class="cont-datos">
                          <div class="dv-foto-name">
                            <div class="flex-row items-center flex mb-1">
                                <img class="img-candi" src="../assets/logos/foto01003008.png" alt="logo_lista">
                            </div>
                            <div class="flex flex-row gap-3 ml-5">
                                <p class="prf-name">PATRICIA BULLRICH - </p>
                                <p class=" prf-name">LUIS PETRI</p>                              
                            </div>
                          </div>
                        </div>                       
                    </div>
                    <div class="w-full bg-gray-100 print:h-2 mb-[0.25rem] h-5">
                        <div class="cont-barra">
                          <div class="dv-barra"></div>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between mb-[0.5rem]">
                        <div
                          class="flex flex-col md:flex-row md:items-center md:gap-3 text-right min-w-[25%] md:justify-end justify-around">
                          <p class="text-xs md:text-sm font-bold text-[#174F64]"><span>6.116.352</span> votos</p>
                        </div>
                      </div>
                    </div>                
                  </li>
                  <!--tercero-->
                  <li>
                    <div class="dv-partido">
                      <div class="dv-candi">
                        <img class="h-12-w-12 " src="../assets/logos/000134.png" alt="logo_agrupacion">
                        <p class="font-normal text-sm text-black ml-4">UNION POR LA PATRIA</p>
                      </div>
                      <div class="dv-candi">
                        <div>
                          <p class="text-sm font-bold text-left"><span>27,27</span>%</p>
                          <p class="text-xs md:text-sm"><span></span> votos</p>
                        </div>
                        <button class="text-lg font-bold rounded-full mr-4">
                            <img class="img-plus" src="../assets/img/hide.png" alt="plus-circle">
                        </button>
                      </div>
                    </div>
                    <div class="cont-candidato">
                      <div classname="dv-datos-candi">
                        <div class="cont-datos">
                          <div class="dv-foto-name">
                            <div class="flex-row items-center flex mb-1">
                                <img class="img-candi" src="../assets/logos/foto01003005.png" alt="logo_lista">
                            <div class="flex flex-row gap-3 ml-5">
                                <p class="prf-name">SERGIO TOMAS MASSA - </p>
                                <p class="prf-name">AGUSTIN ROSSI</p>
                            </div>
                          </div>
                        </div>
                    </div>
                        <div class="w-full bg-gray-100 print:h-2 mb-[0.25rem] h-5">
                          <div class="cont-barra">
                            <div class="dv-barra"
                              style="background-color: rgb(0, 156, 222); transform: translateX(-21.53%) translateZ(0px);">
                            </div>
                          </div>
                        </div>
                        <div class="flex flex-row justify-between mb-[0.5rem]">
                          <div
                            class="flex flex-col md:flex-row md:items-center md:gap-3 text-right min-w-[25%] md:justify-end justify-around">
                            <p class="text-xs md:text-sm font-bold text-[#174F64]"><span>5.070.104</span> votos</p>
                          </div>
                        </div>
                      </div>                    
                    </div>
                  </li>
                  <!--cuarto-->
                  <li>
                    <div class="dv-partido">
                      <div class="dv-candi">
                        <img class="h-12-w-12 " src="../assets/logos/000133.png" alt="logo_agrupacion">
                        <p class="font-normal text-sm text-black ml-4">HACEMOS POR NUESTRO PAIS</p>
                      </div>
                      <div class="dv-candi">
                        <div class="flex flex-col md:flex-row md:items-center md:gap-3 text-right mx-auto">
                          <p class="text-sm font-bold text-left"><span>3,83</span>%</p>
                          <p class="text-xs md:text-sm"><span>907.437</span> votos</p>
                        </div><button class="text-lg font-bold rounded-full mr-4">
                            <img class="img-plus" src="../assets/img/hide.png" alt="plus-circle">
                        </button>
                      </div>
                    </div>
                    <div class="cont-candidato">
                      <div classname="dv-datos-candi">
                        <div class="cont-datos">
                          <div class="dv-foto-name">
                            <div class="flex-row items-center flex mb-1">
                                <img class="img-candi" src="../assets/logos/foto01003001.png" alt="logo_lista">
                            </div>
                            <div class="flex flex-row gap-3 ml-5">
                                <p class="prf-name">JUAN SCHIARETTI - </p>
                                <p class="prf-name">FLORENCIO RANDAZZO</p>                            
                            </div>
                          </div>
                        </div>
                        <div class="w-full bg-gray-100 print:h-2 mb-[0.25rem] h-5">
                          <div class="cont-barra">
                            <div class="dv-barra"
                              style="background-color: rgb(67, 72, 143); transform: translateX(0%) translateZ(0px);">
                            </div>
                          </div>
                        </div>
                        <div class="flex flex-row justify-between mb-[0.5rem]">
                          <div
                            class="flex flex-col md:flex-row md:items-center md:gap-3 text-right min-w-[25%] md:justify-end justify-around">
                            <p class="text-xs md:text-sm font-bold text-[#174F64]"><span>907.437</span> votos</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!--quinto-->
                  <li>
                    <div class="dv-partido">
                      <div class="dv-candi">
                        <img class="h-12-w-12 " src="../assets/logos/000136.png" alt="logo_agrupacion">
                        <p class="font-normal text-sm text-black ml-4">FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD
                        </p>
                      </div>
                      <div class="dv-candi">
                        <div class="flex flex-col md:flex-row md:items-center md:gap-3 text-right mx-auto">
                          <p class="text-sm font-bold text-left"><span>2,65</span>%</p>
                          <p class="text-xs md:text-sm"><span>628.893</span> votos</p>
                        </div><button class="text-lg font-bold rounded-full mr-4">
                            <img class="img-plus" src="../assets/img/hide.png" alt="plus-circle"></button>
                      </div>
                    </div>
                    <div class="cont-candidato">
                      <div classname="dv-datos-candi">
                        <div class="cont-datos">
                          <div class="dv-foto-name">
                            <div class="flex-row items-center flex mb-1">
                                <img class="img-candi" src="../assets/logos/foto01003009.png" alt="logo_lista">
                            </div>
                            <div class="flex flex-row gap-3 ml-5">
                                <p class="prf-name">MYRIAM TERESA BREGMAN - </p>
                                <p class="prf-name">NICOLAS DEL CAÑO</p>                             
                            </div>
                          </div>
                        </div>
                        <div class="w-full bg-gray-100 print:h-2 mb-[0.25rem] h-5">
                          <div class="cont-barra">
                            <div class="dv-barra"
                              style="background-color: rgb(249, 84, 97); transform: translateX(-29.71%) translateZ(0px);">
                            </div>
                          </div>
                        </div>
                        <div class="flex flex-row justify-between mb-[0.5rem]">
                          
                          <div
                            class="flex flex-col md:flex-row md:items-center md:gap-3 text-right min-w-[25%] md:justify-end justify-around">
                            <p class="text-xs md:text-sm font-bold text-[#174F64]"><span>442.085</span> votos</p>
                          </div>
                        </div>
                      </div>
                      
                       
                  </li>
                  <hr>
                </ul>
              </div>
            </div>
          </section>
    </div>
</body>
</html>