<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/generales.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/resultados.css">
  <style data-styled="active" data-styled-version="5.3.11"></style>
    <title>generales</title>
</head>

<body>
  <div class="dv-main">
   
  </div>

  <h3>Parlamentarios/as del Mercosur Distr. Nacional</h3><br>
<div class="cont-parla">

  <div class="cont-task3">
    <?php
        //muestra los resultados de la consulta
        //echo $lines;
    ?>
    <img class="h-12-w-12 " src="../assets/logos/000132.png" alt="logo_agrupacion"><br>
    <p class="pf-part" id="pf-part1"></p>
    <hr>
    <p class="sp-votos"><span class="tpr-1" id="tpn-1"> 7207</span> votos</p>
  
</div>

<div class="cont-task1">
    <?php
        //muestra los resultados de la consulta
        //echo $lines;
    ?>
    <img class="h-12-w-12 " src="../assets/logos/000133.png" alt="logo_agrupacion"><br>
    <p class="pf-part" id="pf-part2"></p>
    <hr>
    <p class="sp-votos"><span class="tpr-2" id="tpn-2">1098</span> votos</p>
  
</div>

<div class="cont-task2">
    <?php
        //muestra los resultados de la consulta
        //echo $lines;
    ?>
    <img class="h-12-w-12 " src="../assets/logos/000134.png" alt="logo_agrupacion"><br>
    <p class="pf-part" id="pf-part3"></p>
    <hr>
    <p class="sp-votos"><span class="tpr-3" id="tpn-3"> <b>9501</b></span> votos</p>
  
</div>
<div class="cont-task4">
    <?php
        //muestra los resultados de la consulta
        //echo $lines;
    ?>
    <img class="h-12-w-12 " src="../assets/logos/000135.png" alt="logo_agrupacion"><br>
    <p class="pf-part" id="pf-part4"></p>
    <hr>
    <p class="sp-votos"><span class="tpr-4" id="tpn-4"> 6292</span> votos</p>
  
</div>
<div class="cont-task5">
    
    <img class="h-12-w-12 " src="../assets/logos/000136.png" alt="logo_agrupacion"><br>
    <p class="pf-part" id="pf-part5"></p>
    <hr>
    <p class="sp-votos"><span class="tpr-4" id="tpn-5"> 295</span> votos</p>
  
</div>
</div>

  <div>
  <p id="tpn-1" > </p> 

  
  <div style="width: 600px">
	<canvas id="grafica"></canvas>
</div>
</div>
  <script src="../scripts/resul-parln.js"></script>
</body>
</html>