* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #d2eaf3;
    
}


.dv-estadisticas{
    width: 95%;
    margin:auto;
    display:flex;   
    justify-items: normal;
    align-items:center;
    flex-direction: column; 
    border-radius: 20px;
    background-color:#c3dbe5f3;
}
.tabll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#c3dbe5f3;
}
.tabll p{
    padding: 10px;
    margin: 5px;
}

h1 {
    font-size: 45px;
    text-align: center;
    padding: 15px;
    margin-left: 202px;
    
}

.sct-body {
    padding: 5px;
    margin: 10px;
}

.time {
    display: flex;
    justify-content: end;
}

*/ .topNav {
    border-top: 2px solid #3498DB;
}

.topNav .cont-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
    padding: 10px;
    border-bottom: 1px solid #E6EAEE;
}
.navbar{
    padding: 10px;
}
.navbar-brand{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.dv-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont-title .columns {
    margin: 3rem 0;
}

.cont-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 10px;

}


.navbar-menu .navbar-item {
    padding: 0 2rem;

}

.navbar-topNav {
    background-color: white;
}

.navbarEnd {/*cerrar sesion*/
    padding: 30px;    
    margin-top: 20px;
    align-self: flex-end;
}
.navbar-end {
    padding: 30px;
    margin-top: 20px;
}
