* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sct-body {
    padding: 5px;
    margin: 10px;
}
h3{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 0px;
   
}
.cont-parla{
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    margin-top: 15px;

    display:flex;   
    justify-content: space-between;
    align-items:center;
   /*flex-direction: column; */
}
.pf-part{
    font-size: 10px;
    font-weight: bold;
}
.dv-estadisticas{
    width: 95%;
    margin:auto;
    display:flex;   
    justify-items: normal;
    align-items:center;
    flex-direction: column; 
    border-radius: 20px;
    background-color:#b7ddec;
}
.tabll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tabll p{
    padding: 10px;
    margin: 5px;
}

.columns{
   
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.cont-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 10px;
}
/*.columns {/*contenedor en body*
    margin-left: 205px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}*/
.dv-invisibli{
    padding: 50px;
    margin: 20px;
    width: 280px;
    height: 200px;
}
.box-content {
    height: auto;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.navbar-menu .navbar-item {/*espaciado de menu*/
    padding: 20px 2rem;
    
}

.form-group {
    height:auto;
    width: 500px;   
}
label{
    padding: 10px;
    margin: 15px;
}

.cont-ifr {
    width: 800px;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    background-color:#c3dbe5f3;
}
.ifr-escuela {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color:#c3dbe5f3;
    
}
.accordion{
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    margin-top: 15px;
    background-color:#b7ddec;
}

.accordion__label, .accordion__content{
    padding: 14px 20px;
}
.accordion__label{
    display: block;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}
.accordion__label:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.section2 .accordion__content{
    display: block;
}
.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}

button{
    padding: 10px;
    width: 95px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
li{
    text-decoration: none;
}
.invisible{
    color: #b7ddec;

}
.cont-btn{
    text-align: center;
}
.dv-barra{
    background-color: rgb(0, 156, 222); 
    transform: translateX(-21.53%) translateZ(0px)
}
.tpr-1 .sp-votos{
    font-size: 42px;
    color:rgb(0, 156, 222);
}
footer {
    margin-top: 100px;
    background-color: #F2F6FA !important;
}