<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <title>Esc. Rosende</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° "ROSENDE" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html" target="_parent" ><button class="btn-m1">1</button></a>
        <a href="/views/actas.html" target="_parent" ><button class="btn-m2">2</button></a>
        <a href="/views/actas.html" target="_parent" "><button>3</button></a>
        <a href="/views/actas.html" target="_parent" "><button>4</button></a>
        <a href="/views/actas.html" target="_parent" "><button>5</button></a>
        <a href="/views/actas.html" target="_parent" "><button>6</button></a>
        <a href="/views/actas.html" target="_parent" "><button>7</button></a>
        <a href="/views/actas.html" target="_parent" "><button>8</button></a>
        <a href="/views/actas.html" target="_parent" "><button>9</button></a>
        <a href="/views/actas.html" target="_parent" "><button>10</button></a>
    </div>
</body>
</html>