<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <script src="/scripts/index.js"></script>
    <title>Esc. Técnica</title>
</head>

<body>
    <h2>Mesas habilitadas en Escuela Técnica N° 1 "Araujo" </h2>
    <br>
    <hr><!--style="display:none;"
    <a href="actas.html?nMesa=1011" target="_parent"><button id="btn1" value="1099" onclick="cargarMesa()">1</button></a> -->
    <div class="cont-botones">
        <a href="/views/actas.html?nMesa=1011" target="_parent" ><button>1011</button></a> 
        <a href="/views/actas.html?nMesa=1012" target="_parent" onclick="verificar()"><button>1012</button></a>
        <a href="/views/actas.html?nMesa=1013" target="_parent"><button>1013</button></a>
        <a href="/views/actas.html?nMesa=1014" target="_parent"><button>1014</button></a>
        <a href="/views/actas.html?nMesa=1015" target="_parent"><button>1015</button></a>
        <a href="/views/actas.html?nMesa=1016" target="_parent"><button>1016</button></a>
        <a href="/views/actas.html?nMesa=1017" target="_parent"><button>1017</button></a>
        <a href="/views/actas.html?nMesa=1018" target="_parent"><button>1018</button></a>
        <a href="/views/actas.html?nMesa=1019" target="_parent"><button>1019</button></a>
        <a href="/views/actas.html?nMesa=1020" target="_parent"><button>1020</button></a>        
    </div>   
</body>

</html>